@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

* {
  box-sizing: border-box;
  position: relative;
  min-width: 0;
}

body {
  padding: 0;
  margin: 0;
}
